container_commands:
  01-create-storage:
    command: "mkdir -p storage/framework/views storage/framework/cache storage/logs bootstrap/cache"
  02-permissions:
    command: "chmod -R 777 storage bootstrap/cache"
  03-generate-key:
    command: "php artisan key:generate"
  04-config-clear:
    command: "php artisan config:clear"
  05-config-cache:
    command: "php artisan config:cache"
